.custom-cursor {
	/* Assign variables */
	--custom-cursor-color: white;
	--custom-cursor-width: 1px;
	--custom-cursor-blink-speed: 1.25s;
	--custom-cursor-blink-delay: 0s;

	/* Assign properties */
	background: var(--custom-cursor-color);
	/* opacity: 1; */

	height: var(--cursor-height);
	max-height: calc(var(--font-ui-large) * 2);
	width: var(--custom-cursor-width);
	position: absolute;
	top: 0px;
	left: 0px;

	display: block;

	transform: translate(var(--cursor-x1), var(--cursor-y1));
	pointer-events: none;
	animation: blinkOpacity steps(1, start) var(--custom-cursor-blink-speed) infinite;
}

@keyframes blinkOpacity {
    0%   { opacity: 1;  }
	50%  { opacity: 0;  }
}

.cm-editor * {
	caret-color: transparent;
}
body:not(:has(.cm-cursor-secondary)) .cm-editor .cm-cursor {
	display: none !important;
}
body.window-blurred .dashing-cursor {
    display: none;
}